/* Write your CSS here */
* {
  padding: 0;
  margin: 0;
}
.app-container {
  background-image: linear-gradient(to right, #ffffff, #cffcf1, #defafe);
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
h1 {
  font-family: 'roboto';
  font-weight: 500;
  text-align: center;
}
.timer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .timer-container {
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    justify-content: space-evenly;
  }
}
.background-image-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  height: 300px;
  width: 300px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .background-image-container {
    margin-right: 50px;
    height: 400px;
    width: 400px;
  }
}
.timer-status-container {
  border-radius: 50%;
  background-color: #ffffff;
  height: 110px;
  width: 110px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .timer-status-container {
    height: 130px;
    width: 130px;
  }
}
.running-timer {
  color: #00d9f5;
}
p {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}
.icon-image {
  height: 30px;
}
.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.time-change-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .time-change-container {
    flex-grow: 1;
    width: 300px;
  }
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 45px;
  cursor: pointer;
  display: flex;
}
.buttons-text {
  font-size: 24px;
  padding-left: 10px;
}
.set-timer-text {
  margin-top: 35px;
  margin-bottom: 20px;
}
.increase-decrease-container {
  display: flex;
  justify-content: space-evenly;
}
.text-count {
  width: 100px;
  height: 60px;
  background-image: linear-gradient(to right, hsl(165, 78%, 78%), #00d9f5);
  border: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 38px;
}
